################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/BridgePattern
/CommandPattern/obj
/CompositePattern/obj
/Console/bin/Debug
/Console/obj/Debug
/FacadePattern/obj
/FacadePattern/bin/Debug
/IteratorPattern/obj
/IteratorPattern/bin/Debug
/MediatorPattern/obj
/MediatorPattern/bin/Debug
/MementoPattern/obj
/MementoPattern/bin/Debug
/ObservePattern/obj
/ObservePattern/bin/Debug
/ProxyPattern/obj
/ProxyPattern/bin/Debug
/ResponsibilityChainPattern/obj
/ResponsibilityChainPattern/bin/Debug
/SingletionPattern/obj/Debug/netcoreapp2.1
/StatePattern/obj
/StatePattern/bin/Debug
/StrategyPattern/obj
/StrategyPattern/bin/Debug
/VisitorPattern/obj
/VisitorPattern/bin/Debug
/SingletionPattern/obj
/Console/obj
/.vs
